.card {
    width: 80%;
    margin: 0 auto;
    background-color: #fafafa;
    border: 1px solid black;
    margin-bottom: 5px;
}

.card-header {
    display: flex;
    flex-direction: row;
    background-color: #212121;
    color: #fafafa;
    height: 48px;
    line-height: 48px;
    font-size: 25px;
    /* border-bottom: 1px solid rgba(250, 250, 250, 0.3); */
}

.pont {
    margin-right: 10px;
    margin-left: auto;
    font-size: 0.5em;
}

.dropDown {
    font-size: 30px;
    margin-right: 10px;
}

.button {
    padding: 5px;
    margin-right: 16px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
}

.button-modify {
    background-color: #1e88e5;
}

.button-delete {
    background-color: #e53935;
}

textarea {
    width: 100%;
    padding: 0;
}

.description {
    padding: 0.5em;
    color: #212121;
}

i {
    margin-left: 20px;
}

.input {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.button-action {
    padding: 7px;
    color: whitesmoke;
    background-color: #1e88e5;
    border: none;
    font-size: 20px;
    margin-right: 16px;
    border-radius: 5px;
}

.button-cancel {
    padding: 7px;
    color: whitesmoke;
    background-color: #e53935;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.button-cancel:hover,
.button-action:hover {
    color: black;
}

.add-exercise {
    width: 40%;
    min-width: 300px;
    margin: 16px auto;
}