<div class="card">
  <div class="card-header" (click)="toggleShow()" >
    <div style="margin-left: 10px;">{{index+1}}. Feladat</div>
    <div class="pont">{{exercise.score}} pont
      
    </div>
    <div class="dropDown" >
      <i *ngIf="!shouldBeVisible"  class="fas fa-chevron-down"></i>
      <i *ngIf="shouldBeVisible" class="fas fa-chevron-up"></i>
    </div>
  </div>
  <div *ngIf="shouldBeVisible">
    <div class="description">
      {{exercise.declaration}}
    </div>
    <div>
      <app-monaco-editor></app-monaco-editor>
    </div>
  </div>

</div>
