<div class="header">
  <span id="brand" routerLink="kurzusok">Tudástár</span>
  <div
    class="headerItem dropdown icon"
    *ngIf="auth.isAuthenticated"
    (click)="toggleDropdown()"
  >
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div
    class="headerItem icon"
    id="warn"
    style="width: 30px;"
    *ngIf="auth.isAuthenticated && !enableNotifications"
  >
    <i (click)="toggleNotifications()" class="fas fa-bell-slash"></i>
  </div>
  <div id="loggedinUser" *ngIf="auth.isAuthenticated" class="headerItem">
    <div class="headerItem">
      <img
        id="profilePicture"
        routerLink="profile"
        src="{{ imageUrl }}"
        title=""
      />
    </div>
    <div class="headerItem"></div>
    <div class="dropdown-content" [ngClass]="{ visible: dropdownToogle }">
      <a routerLink="profile"> Profil</a>
      <a (click)="logout()" style="color:red;">
        <i class="fas fa-sign-out-alt"></i> Kijelentkezés</a
      >
    </div>
  </div>

  <div class="headerItem" *ngIf="auth.isAuthenticated" routerLink="forum">
    Fórum
  </div>
  <div
    class="headerItem"
    *ngIf="!auth.isAuthenticated"
    routerLink="registration"
  >
    Regisztráció
  </div>
  <div class="headerItem" *ngIf="!auth.isAuthenticated" routerLink="login">
    Bejelentkezés
  </div>
  <div
    *ngIf="auth.canEdit"
    class="headerItem"
    style="cursor: pointer"
    (click)="toggleEditMode()"
    [ngClass]="{ on: auth.isEditMode, off: !auth.isEditMode }"
  >
    Edit mode
  </div>
  <div
    *ngIf="auth.canEdit"
    class="headerItem"
    style="cursor: pointer"
    (click)="goToAdminPanel()"
  >
    Admin Panel
  </div>
  <div class="burger"><i class="fas fa-bars"></i></div>
</div>
