<div
  [className]="showDetails ? 'selected item' : 'item'"
  (click)="toggleDetails($event)"
  *ngIf="post"
>
  <span style="cursor: pointer;">{{ post.title }}</span>
  <div class="spacer">
    <div style="margin-right: 20px" (click)="deletePost()">
      <i class="fas fa-trash" style="color: red; cursor: pointer"></i>
    </div>
    <div style="margin-right: 20px">
      <i class="far fa-thumbs-up"></i>{{ post.rating }}
    </div>

    <span>Nyitotta: {{ post.author.name }}</span>
  </div>
</div>
<app-forum-list-details
  *ngIf="showDetails && post"
  [post]="post"
></app-forum-list-details>
