<div class="row">
  <div class="header" (click)="toggleDropDown()">
    {{topic.topic}}
    <span style="flex: 1 1 auto;"></span>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="list" *ngIf="toggle">
    <div class="flexlist">
      <div class="item" *ngFor="let post of topic.posts" (click)="toggleDetails()" >
        <span style="cursor: pointer;">{{post.title}}</span>
        <div class="spacer">
          <div style="margin-right: 20px"><i class="far fa-thumbs-up" ></i>{{post.rating}}</div>
          <span>Nyitotta: {{post.author}}</span>
        </div>
      </div>
      <app-forum-list-details *ngIf="showDetails" [topic]="topic"></app-forum-list-details>
    </div>
  </div>
</div>