<div class="row">
  <div class="header" (click)="toggleDropDown()">
    {{ topic.name }}
    <span style="flex: 1 1 auto;"></span>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="list" *ngIf="toggle">
    <div class="flexlist">
      <div *ngFor="let post of topic.posts">
        <app-forum-list-item-row [postId]="post"></app-forum-list-item-row>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="header">
    +
    <span style="flex: 1 1 auto;"></span>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
