* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.sidenav {

    width: 15%;
    background-color: #2d2d2d;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttonGroup div {
    width: 45%;
    min-width: 300px;
    text-align: center;
    padding: 0.5em;
    border-radius: 3px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    cursor: pointer;
}

#actions {
    display: block;
    background-color: inherit;

}

#actions>div {
    margin-left: auto;
    margin-right: 0;
}

#actions .actionButton {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.33em;
    border-radius: 3px;
    border: 0.5px solid black;
    margin-left: auto;
    margin-right: 0px;
    max-width: 43px;
    cursor: pointer;
}

#actions div *+* {
    font-size: 1.5em;
    padding: 0.33em;
    border-radius: 3px;
    border: 0.5px solid black;
    margin-left: auto;
    margin-right: 0;
}

#fileselector {
    color: black;
}

.files {
    font-size: 30px;
    line-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    border-bottom: 1px solid rgba(250, 250, 250, 0.8);
}

.file-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}




#edit {
    position: absolute;
    top: 55px;
    right: 4vw;
    display: block;
    font-size: 1.5em;
    padding: 0.33em;
    border-radius: 3px;

}

.content {
    width: 85%;
    margin-top: 48px;
    background-color: #2d2d2d;
    color: #fafafa;
    padding: 2em;
    min-width: 300px;
    overflow-y: auto;
}

.content p {
    line-height: 1.2em;
}

.bright {
    color: #212121;
    background-color: #fafafa;
}

.dark {
    background-color: #2d2d2d;
    color: #fafafa;
}

.sidenav {
    margin-top: 48px;
    min-width: 278px;
}

.addFile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.addFilePanel {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid black;
    padding: 5px;
}

.addFile__input {
    font-size: 18px;
    padding: 3px;
}

.addFilePanel button {
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 8px;
    border-radius: 5px;
}

#highlight {
    font-size: calc(0.2rem + 0.07 * 100vw);
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
}

@media only screen and (max-width: 600px) {
    .sidenav {
        min-width: 50px;
        max-width: 50px;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: calc(100vw - 50px);
    }
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .sidenav {
        max-width: 75px;
        min-width: 75px;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: calc(100vw - 75px);
    }
}