<div class="wrapper">
  <div class="container">
    <div id="nameplate">
      <div class="image-sizer">
        <img id="profilePicture" src="{{ imageUrl }}" (click)="uploadfile()" />
      </div>
      <div id="information">
        <div class="display">Név: {{ user.name }}</div>
        <div class="display">Szak: {{ user.department }}</div>
        <div class="display">Megoldások: 44</div>
      </div>
    </div>
    <div class="bar">Teljesítések</div>
    <div id="chartCards">
      <app-chart-card></app-chart-card>
      <app-chart-card></app-chart-card>
    </div>
  </div>
</div>
