.wrapper {
    background-image: url('../../../assets/images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    background: rgba(250, 250, 250, 0.8);

}

#nameplate {
    background: rgba(33, 33, 33, 0.6);
    width: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profilePicture {
    border-radius: 50%;

}

/* .image-sizer {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 48px;
    margin-left: 20px;
} */

.image-sizer img {
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    /*     width: auto;
    height: 100%;
    margin-left: -50px */
    ;
}

#information {
    color: #fafafa;
    margin-top: 60px;
    line-height: 250%;
    font-family: 'Roboto';
    font-size: 25px;
    flex-grow: 5;

}

#chartCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bar {
    background-color: #212121;
    color: #fafafa;
    width: 100%;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 27px;
    line-height: 48px;
    text-align: center;
}

.card {
    flex: 1 1 21%;
    margin-top: 60px;
    width: 371px;
    height: 420px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(250, 250, 250, 0.7);
}

.card-header {
    width: 100%;
    background-color: #212121;
    color: #fafafa;
    height: 60px;
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #profilePicture {
        flex-basis: 100%;
    }
}