
.container {
    width: 200px;
    height: 100vh ;
    background-color: #2a2e35;
    margin: 0;
    padding: 0;
    box-shadow: 4px 0 10px -3px #010101;
    display: inline-flex;
    flex-direction: column;
}
.hidden {
    display: none;
}

a {
    color: #b2becd;
    font-family: 'Roboto';
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

a:hover {
    color: white;
}