

.navItem {
    background-color: #212121;
    color: #fafafa;
    font-size: 1em;
    height: 3em;
    line-height: 48px;
    padding: 0.5em;
    cursor: pointer;
}

.open {
    background-color: #fafafa;
    color: #212121;
    border-bottom: 3px solid rgb(216, 0, 47, 0.8);
}

.navItem:hover {
    background-color: #fafafa;
    color: #212121;
    transition: 0.3s;
    border-bottom: 3px solid rgb(216, 0, 47, 0.8);
}

div i {
    padding-right: 0.8em;
    padding-left: 0.5em;
    
}

.flex {
    display: flex;
    align-items: center;
}

.right {
    display: block;
    position: absolute;
    right: 0;
}

.show {
    display: block;
}

.delete {
    display: none;
    position: absolute;
    left: 278px;
    height: 48px;
    line-height: 48px;
    padding: 9px;
    background-color: rgb(216, 0, 47, 0.8);
    color: #fafafa;
    z-index: 4;
}

.delete:hover {
    color: rgb(216, 0, 47, 0.8);
    background-color: #fafafa;
    cursor: pointer;
}

.navItem:hover  .delete {
    display: block;
}


@media only screen and (max-width: 1100px) {
    div span {
        display: none;
    }

    div i {
        font-size: 30px;
    }

    .navItem {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    div span {
        display: none;
    }

    div i {
        font-size: 1em;
    }

    .navItem {
        text-align: center;
    }
}

#name {
    margin-right: auto;
}

