<div class="container">
  <div class="card">
    <div class="card-header">Regisztrálj</div>
    <div class="card-content">
      <div class="label">Név:</div>
      <input class="input" type="text" [(ngModel)]="user.name" placeholder="Gipsz Jakab">
      <div class="label">Szak:</div>
      <input class="input" type="text" [(ngModel)]="user.qualification" placeholder="Mérnökinformatikus">
      <div class="label">E-mail:</div>
      <input class="input" type="email" [(ngModel)]="user.email" placeholder="valaki@gmail.com">
      <div class="label">Jelszó:</div>
      <input class="input" type="password" (input)="checkPass($event)" [(ngModel)]="user.password" placeholder="jelszó...">
      <div class="label">Jelszó mégegyszer:</div>
      <input class="input" type="password" (input)="checkPass($event)" [(ngModel)]="user.passwordAgain" placeholder="jelszó ismét ...">
    </div>
    <div *ngIf="!passwordChecked" class="warn"><i class="fas fa-exclamation-triangle"></i>A két jelszó nem egegyezik meg</div>
    <div *ngIf="passwordChecked" class="ok"><i class="fas fa-check-circle"></i> A két jelszó megegyezik </div>
    <div class="card-button" id="button" (click)="registrate()">Regisztrálok</div>

    <div class="notification">Már regisztráltál? <span routerLink="/login" id="link">Jelentkezz be!</span></div>
  </div>
</div>