<div class="container">
  <div class="card">
    <div class="card-header">Regisztrálj</div>
    <div class="card-content">
      <div class="label">Név:</div>
      <input
        class="input"
        type="text"
        name="fullname"
        [(ngModel)]="user.name"
        placeholder="Gipsz Jakab"
      />
      <div class="label">Szak:</div>
      <input
        class="input"
        type="text"
        name="department"
        [(ngModel)]="user.department"
        placeholder="Mérnökinformatikus"
      />
      <div class="label">E-mail:</div>
      <input
        class="input"
        type="email"
        name="email"
        (input)="clearEmail()"
        [(ngModel)]="user.email"
        placeholder="valaki@gmail.com"
      />
      <div *ngIf="emailAvailable === false" class="warn">
        <i class="fas fa-exclamation-triangle"></i> &nbsp; Az email-cím foglalt
      </div>
      <div class="label">Jelszó:</div>
      <input
        class="input"
        type="password"
        name="password"
        (input)="comparePass($event)"
        (input)="checkPass()"
        [(ngModel)]="user.password"
        placeholder="jelszó..."
      />
      <div *ngIf="!isValidPassword">
        <div *ngFor="let problem of passwordProblems" class="accent">
          <i class="fas fa-exclamation-triangle"></i> &nbsp; {{ problem }}
        </div>
      </div>
      <div *ngIf="isValidPassword" class="ok">
        <i class="fas fa-check-circle"></i> &nbsp; Minden kritériumnak megfelel
      </div>
      <div class="label">Jelszó mégegyszer:</div>
      <input
        class="input"
        type="password"
        name="password_again"
        (input)="comparePass($event)"
        [(ngModel)]="user.passwordAgain"
        placeholder="jelszó ismét ..."
      />
    </div>
    <div *ngIf="!passwordMatched" class="warn">
      <i class="fas fa-exclamation-triangle"></i> &nbsp; A két jelszó nem
      egyezik meg
    </div>
    <div *ngIf="passwordMatched" class="ok">
      <i class="fas fa-check-circle"></i> &nbsp; A két jelszó megegyezik
    </div>
    <div class="card-button" id="button" (click)="registrate()">
      Regisztrálok
    </div>

    <div class="notification">
      Már regisztráltál?
      <span routerLink="/login" id="link">Jelentkezz be!</span>
    </div>
  </div>
</div>
