@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html {
    height: 100%
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    background-image: url(./assets/images/profile.jpg);
    background-size: cover;
}

